@page "/fetchdata"
@using DataFlattener.WebApp.Shared
@inherits DataFlattener.WebApp.Client.Components.FetchDataComponent

<h1>JSON</h1>

<EditForm Model="@ViewModel" OnValidSubmit="@ViewModel.OnValidSubmit">
    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Source</h5>
                    <InputTextArea Id="source" bind-Value="@ViewModel.Source" class="form-control"/>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mapping</h5>
                    @if (ViewModel.Columns != null)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>DataSourcePath</th>
                                    <th>Name</th>
                                    <th>DataType</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (DataColumnMap columnMap in ViewModel.Columns)
                            {
                                <tr>
                                    <td>@columnMap.DataSourcePath</td>
                                    <td>@columnMap.Name</td>
                                    <td>@columnMap.DataType</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

            

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Generate</button>

</EditForm>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Json</h5>
        @if (ViewModel.Json != null)
        {
            <textarea class="form-control">@ViewModel.Json</textarea>
        }
    </div>
</div>


